<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>灵魂回响</title>
<link href="css/base.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
</head>

<body ng-controller="myCtrl">
<!--头部-->
	<div class="header">
    	<div class="head_box clearfix">
        	<h1 class="fl">
            	<a href="javascript:;">畅游</a>
            </h1>
        	<ul class="fr">
        		<li class="one top1">
                	<a href="javascript:;">注册</a>
                </li>
        		<li class="one top2">
                	<a href="javascript:;">充值</a>
                </li>
        		<li class="one top3">
                	<a href="javascript:;">畅游+</a>
                </li>
        		<li class="bdr1 one4">
                    <a href="javascript:;">客服</a>
                    <ul class="service">
                        <li><a href="javascript:;">在线帮助</a></li>
                        <li><a href="javascript:;">qq留言</a></li>
                        <li><a href="javascript:;">邮箱留言</a></li>
                    </ul>
                </li>
        		<li class="bdr1">
                    <a href="javascript:;">畅游全服务</a>
                    <ul class="service">
                        <li><a href="javascript:;">帮助信息</a></li>
                        <li><a href="javascript:;">技术支持</a></li>
                        <li><a href="javascript:;">联系我们</a></li>
                    </ul>
                </li>
        		<li class="bdr1 one6">
                    <a href="javascript:;">畅游全游戏</a>
                    <ul class="service">
                        <li><a href="javascript:;">英雄信息</a></li>
                        <li><a href="javascript:;">技能信息</a></li>
                        <li><a href="javascript:;">更新信息</a></li>
                    </ul>
                </li>
        	</ul>
        </div>
    </div>
    <div class="bg_box">
    	<div class="mid_bg">
        	<div class="mid_nav clearfix">
                <h2 class="fl">
                    <a href="javascript:;">灵魂回响</a>
                </h2>
                <ul class="fr">
                    <li class="first">
                    	<h5><a href="javascript:;">首页</a></h5>
                    	<p><a href="javascript:;">HOME</a></p>
                    </li>
                    <li class="one2">
                    	<h5><a href="javascript:;">新闻公告</a></h5>
                    	<p><a href="javascript:;">NEWS</a></p>
                        <div class="posi_news">
                        	<p class="gm_news"><a href="javascript:;">游戏新闻</a></p>
                            <p><a href="javascript:;">官方公告</a></p>
                        </div>
                    </li>
                    <li class="one3">
                    	<h5><a href="javascript:;">游戏特色</a></h5>
                    	<p><a href="javascript:;">FEATURES</a></p>
                    </li>
                    <li class="one4">
                    	<h5><a href="javascript:;">新手指南</a></h5>
                    	<p><a href="javascript:;">BEWBIE</a></p>
                        <div class="posi_news">
                        	<p class="gm_news"><a href="javascript:;">新手指南</a></p>
                            <p><a href="javascript:;">职业专题</a></p>
                            <p><a href="javascript:;">资料站</a></p>
                            <p><a href="javascript:;">常见问题</a></p>
                        </div>
                    </li>
                    <li class="one5">
                    	<h5><a href="javascript:;">游戏下载</a></h5>
                    	<p><a href="javascript:;">DOWNLOAD</a></p>
                    </li>
                    <li class="one6">
                    	<h5><a href="javascript:;">活动专区</a></h5>
                    	<p><a href="javascript:;">ACTIVITY</a></p>
                    </li>
                    <li class="one7">
                    	<h5><a href="javascript:;">视觉欣赏</a></h5>
                    	<p><a href="javascript:;">VIDEO&PICTURE </a></p>
                        <div class="posi_news">
                        	<p class="gm_news"><a href="javascript:;">游戏视频</a></p>
                            <p><a href="javascript:;">壁纸壁图</a></p>
                        </div>
                    </li>
                    <li class="one8">
                    	<h5><a href="javascript:;">玩家互动</a></h5>
                    	<p><a href="javascript:;">INTERACTION</a></p>
                    </li>
                    <li class="last">
                    	<h5><a href="javascript:;">客服服务</a></h5>
                    	<p><a href="javascript:;">SREVICE</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
        	<div class="down_box clearfix">
            	<div class="dowm_l fl">
                	<dl class="download clearfix">
						<dt class="fl"><a href="javascript:;"></a></dt>
                        <dd class="one1"><a href="javascript:;"></a></dd>
                        <dd class="one2"><a href="javascript:;"></a></dd>
                        <dd class="one3"><a href="javascript:;"></a></dd>
                        <dd class="one4"><a href="javascript:;"></a></dd>
                    </dl>
                    <div class="bgmap_box">
                        <ul class="bgmap" id="bgmap">
                            <li class="bg0 blk"><a href="javascript:;"></a></li>
                            <li class="bg1 hddn"><a href="javascript:;"></a></li>
                            <li class="bg2 hddn"><a href="javascript:;"></a></li>
                            <li class="bg3 hddn"><a href="javascript:;"></a></li>
                            <li class="bg4 hddn"><a href="javascript:;"></a></li>
                        </ul>
                        <a href="javascript:;" class="guanfang">官方
                        	<i></i>
                        </a>
                        <a href="javascript:;" class="meiti">媒体</a>
                    </div>
                    <ul class="spot" id="spot">
                    	<li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="dowm_r fl">
                	<div class="newf">
                    	<p>
                        	<a href="javascript:;">电信一区
                            	<span>【元素殿堂】</span>欢迎进驻！
                            </a>
                        </p>
                    	<p>
                        	<a href="javascript:;">网通一区
                            	<span>【雷霆之怒】</span>欢迎进驻！
                            </a>
                        </p>	
                    </div>
                    <div class="last_time_box">
                        <div class="last_time">
                            <p class="fl">距您上次访问有<a href="javascript:;">200条</a>更新</p>
                            <span class="fl"><a href="javascript:;"></a></span>
                            <b class="fl">关注：</b>
                            <a class="fl one1" href="javascript:;"></a>
                            <a class="fl one2" href="javascript:;"></a>
                            <a class="fl one3" href="javascript:;"></a>
                        </div>
                        <div class="news_notice">
                            <ul class="news_title">
                                <li class="one1 fl"><a class="active" href="javascript:;" ng-mouseover="comment()">综合</a></li>
                                <li class="one2 fl"><a href="javascript:;" ng-mouseover="news()">新闻</a></li>
                                <li class="one3 fl"><a href="javascript:;" ng-mouseover="notice()">公告</a></li>
                                <li class="one4 fl"><a href="javascript:;" ng-mouseover="media()">媒体</a></li>
                            </ul>
                         <dl>
                            <dt>
                                <a href="javascript:;">4月8日大版开启 新职业术士魔神天降</a>
                            </dt>
                            <dd ng-repeat="item in showData">
                                <p>
                                    <a href="javascript:;">{{item}}</a>
                                    <span class="fr">03/24</span>
                                </p>
                            </dd>
                            <dd>
                                <p class="clearfix">
                                   
                                    <span class="fr"><a href="javascript:;">更多信息></a></span>
                                    <i class="fr"></i>
                                </p>
                            </dd>
                        </dl>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="clearfix banner_list">
            	<li class="fl"><a href="javascript:;"><img src="img/bg2.jpg" alt="111" /></a></li>
                <li class="fl"><a href="javascript:;"><img src="img/main_a22.jpg" alt="111" /></a></li>
                <li class="fl"><a href="javascript:;"><img src="img/bg1.jpg" alt="111" /></a></li>
                <li class="fl last"><a href="javascript:;"><img src="img/bg4.png" alt="111" /></a></li>
            </ul>
            <div class="play_worker clearfix">
            	<div class="worker_l fl">
                	<ul class="worder-list" id="worder-list">
                    	<li class="one1 active"><a href="javascript:;"></a></li>
                        <li class="one2"><a href="javascript:;"></a></li>
                        <li class="one3"><a href="javascript:;"></a></li>
                        <li class="one4"><a href="javascript:;"></a></li>
                        <li class="one5"><a href="javascript:;"></a></li>
                        <li class="one6"><a href="javascript:;"></a></li>
                    </ul>
                    <ul class="worder-list1" id="worder-list1">
                    	<li class="blk"><a href="javascript:;"><img src="img/m4-shushi.jpg"  alt="111" /></a></li>
                        <li class="hddn"><a href="javascript:;"><img src="img/m4-shenshe.jpg" alt="111" /></a></li>
                        <li class="hddn"><a href="javascript:;"><img src="img/m4-shouhu.jpg" alt="111" /></a></li>
                        <li class="hddn"><a href="javascript:;"><img src="img/m4-mofa.jpg" alt="111" /></a></li>
                        <li class="hddn"><a href="javascript:;"><img src="img/m4-zhanshi.jpg" alt="111" /></a></li>
                        <li class="hddn"><a href="javascript:;"><img src="img/m4-cike.jpg" alt="111" /></a></li>
                    </ul>
                </div>
                <div class="worker_r fl">
                	<h4 class="active clearfix">
                    	<i class="fl"></i>
                        <span class="fl">活动中心</span>
                    </h4>
                    <ul class="gift_list">
                    	<li class="gift_one" ng-repeat="item in nvData" ng-mouseover="over($index)">
                        	<div ng-show="show($index)">
                                <p class="fl">{{item}}</p>
                                <span class="fr">进行中</span>   
                            </div>
                            <div class="img_1" ng-hide="show($index)">
                                <a href="javascript:;">
                                    <img src="img/1.jpg" alt="女神" />
                                    <div class="opa_box">
                                        <p>{{item}} <span>294,712关注</span></p>
                                        <div class="opa_img"></div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="gamef_box clearfix">
            	<div class="enter_door fl">
                	<div class="enter_door1">
                        <h4>快捷入口</h4>
                        <ul class="clearfix">
                            <li class="fl">
                                <p><a href="javascript:;">·账号管理</a></p>
                                <p><a href="javascript:;">·账号安全</a></p>
                                <p><a href="javascript:;">·BUG提交</a></p>
                                <p><a href="javascript:;">·玩家社区</a></p>
                            </li>
                            <li class="fl">
                                <p><a href="javascript:;">·兑换中心</a></p>
                                <p><a href="javascript:;">·畅游知道</a></p>
                                <p><a href="javascript:;">·客户端FAQ</a></p>
                                <p><a href="javascript:;">·加速器下载</a></p>
                            </li>
                        </ul>
                    </div>
                    <a class="banner_vote" href="javascript:;">
                    	<img src="img/main_a3_3.jpg" /ss>
                    </a>
                    <div class="media_co">
                    	媒体合作专区
                        <div class="bigwebs">
                        	<p><a href="javascript:;">17173</a></p>
                        	<p><a href="javascript:;">多玩</a></p>
                        	<p><a href="javascript:;">太平洋</a></p>
                        	<p><a href="javascript:;">多玩巴士</a></p>
                        	<p><a href="javascript:;">新浪</a></p>
                        	<p><a href="javascript:;">搜狐</a></p>
                        	<p><a href="javascript:;">百度</a></p>
                        </div>
                    </div>
                    <div class="animal">
                    	<a href="javascript:;"></a>
                    </div>
                </div>
                <ul
                 class="gamer_words fl" >
                	<li>
                        <h4 class="active clearfix">
                            <i class="fl msg"></i>
                            <span class="fl gamer">玩家交流</span>
                        </h4>
                        <ul class="gamer_column" id="gamer_words">
                        	<li class="one" ng-mouseenter="content='a0.html'">
                            	<a class="wjone active" href="javascript:;">玩家攻略</a>
                                <div class="column_son clearfix" ng-include="content">
                                    
                                </div>
                            </li>
                        	<li class="one two" ng-mouseenter="content='a1.html'">
                            	<a class="wjone" href="javascript:;">论坛热帖</a>
                            </li>
                        	<li class="one" ng-mouseenter="content='a0.html'">
                            	<a class="wjone" href="javascript:;">社区精华</a>
                            </li>
                            <li class="one last">
                            	<a class="clearfix" href="javascript:;">
                                	<i class="fl"></i>
                                    <span class="fl">更多信息</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                	<li class="media_17173">
                        <h4 class="active clearfix">
                            <i class="fl msg"></i>
                            <span class="fl gamer">媒体专区</span>
                        </h4>
                        <ul class="gamer_column" id="gamer_column">
                        	<li class="one" ng-mouseenter="content1='a1.html'">
                            	<a class="wjone active" href="javascript:;">17173</a>
                                <div class="column_son clearfix" ng-include="content1">
                                	
                                </div>
                            </li>
                        	<li class="one two" ng-mouseenter="content1='a0.html'">
                            	<a class="wjone" href="javascript:;">新浪爱问</a>
                            </li>
                        	<li class="one" ng-mouseenter="content1='a1.html'">
                            	<a class="wjone" href="javascript:;">太平洋游戏</a>
                            </li>
                            <li class="one last">
                            	<a class="clearfix" href="javascript:;">
                                	<i class="fl"></i>
                                    <span class="fl">更多信息</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="game_data fl">
                	<div class="game_data_u">
                        <h4 class="active clearfix">
                            <i class="fl"></i>
                            <span class="fl">游戏资料</span>
                        </h4>
                        <div class="newfisher">
                            <ul>
                                <li>
                                    <a href="javascript:;">注册账号</a>
                                    <a href="javascript:;">下载游戏</a>
                                    <a class="last" href="javascript:;">登录游戏</a>
                                    <span>
                                        新手入门
                                        <i></i>
                                    </span>
                                </li>
                                <li>
                                    <a href="javascript:;">刺客</a>
                                    <a href="javascript:;">神射手</a>
                                    <a href="javascript:;">守护者</a>
                                    <a class="last" href="javascript:;">魔法师</a>
                                    <span>
                                        职业介绍
                                        <i></i>
                                    </span>
                                </li>
                                <li>
                                    <a href="javascript:;">雷班斯</a>
                                    <a href="javascript:;">费尔图斯</a>
                                    <a class="last" href="javascript:;">赫尔亚纳</a>
                                    <span>
                                        旅行者日记
                                        <i></i>
                                    </span>
                                </li>
                                <li class="last">
                                    <a href="javascript:;">1级-19级</a>
                                    <a href="javascript:;">20-39级</a>
                                    <a class="last" href="javascript:;">40-49级</a>
                                    <span>
                                        神谕者指引
                                        <i></i>
                                    </span>
                                </li>
                            </ul>
                            <p><a href="javascript:;">进站资料站</a></p>
                        </div>
                    </div>
                    <div class="game_data_d gamer_words">
                    	 <h4 class="active clearfix">
                            <i class="fl"></i>
                            <span class="fl">视觉欣赏</span>
                         </h4>
                         <ul class="gamer_column" id="view_column">
                        	<li class="one">
                            	<a class="wjone active" href="javascript:;" ng-mouseover="media_list = media_mv">游戏视频</a>
                                <ul class="media_list">
                                    <li ng-repeat="item in media_list">
                                    	<a href="javascript:;">
                                        	<img _src={{item}} alt="111" />
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        	<li class="one two">
                            	<a class="wjone" href="javascript:;" ng-mouseover="media_list = media_img">游戏截图</a>
                            </li>
                            <li class="one last">
                            	<a class="clearfix" href="javascript:;">
                                	<i class="fl"></i>
                                    <span class="fl">更多信息</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="safe_notice">
            	<h4>健康游戏公告</h4>
            	<p>抵制不良游戏，拒绝盗版游戏。之一自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。</p>
                <p>本游戏适合18周岁以上的成年人用户，未满18周岁的未成年用护请在家长的监督下进行游戏。</p>
            </div>
        </div>
    </div>
<!--底部-->
    <div class="footer_top">
    </div>
    <div class="footer">
    	<div class="foot clearfix">
        	<h3 class="fl">
            	<a class="logo_pic" href="javascript:;"></a>
            </h3>
            <h4 class="fl">
            	<a class="logo_pic" href="javascript:;"></a>
            </h4>
            <div class="last_words fl">
            	<p class="one1">北京畅游世代数码技术有公司版权所有 COPYRIGHT @2011 CHANGYOU.COM LIMITED.ALL RIGHTS RESERVED.<a href="javascript:;">法律声明</a>|<a href="javascript:;">联系我们</a></p>
        		<p class="one2">京网文[2011]0260-093号|<span>京ICP证：</span>070525号</p>
            </div>
        </div>
    </div>
    <div class="banner_fixsd">
    	<a href="javascript:;"></a>
    </div>
</body>
<script src="js/jquery-1.7.2.js"></script>
<script src="js/angular.js"></script>
<script src="js/init.js"></script>
</html>


















