@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal; font-size:12px;}
li{ list-style:none; display:block;}
a{ text-decoration:none; color:#000;}
b,stong{ font-weight:normal;}
i,em{ font-style:normal;}
/*清浮动的伪类写法 这是最常用的清浮动方法*/
.clearfix:after{ display:block; content:''; clear:both;}
/*下面是处理清浮动ie6兼容的问题*/
.clearfix{ zoom:1;}
.fl{float:left;}
.fr{float:right;}
/*img存在3px的bug,解决办法如下*/
img{ vertical-align:top;}
input{outline:none;}
img{border:none;}

.bdr1{
	border-right:1px solid #e1e1e1;}
.brnone{
	border-right:none;}
.blk{
	display:block;}
.hddn{
	display:none;}















