<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		<title></title>
		<script>var jsVersion=1.0;var cssVersion=1.0;var htmlVersion=1.0;</script>
		<link rel="stylesheet" href="../css/lib/mui.min.css">
		<link rel="stylesheet" href="../css/lib/style.css">
		<script src="../js/lib/mui/mui.min.js"></script>
		<script>
			(function(doc,win){
				function change(){
					doc.documentElement.style.fontSize = doc.documentElement.clientWidth/414*20+'px';
				}
				change();
				win.addEventListener('resize',change,false)
			})(document,window)
		</script>
	</head>
<body class="reader">
    <div class="reader_header">
    	<div class="reader_header_filter"></div>
    	<div class="reader_top">
    		<a href="javasript:;"></a>
    		<p>读后感</p>
    	</div>
    	<div class="reader_top_hid"></div>
    	<div class="reader_title_box clearfix">
			<a class="reader_img_box fl" href="javascript:;">
				<img src="../img/header_book1.png" alt="" />
			</a>
    		<div class="reader_bookname fl">
    			<h2 class="reader_title">鲁宾逊漂流记</h2>
	    		<p>丹尼尔·笛福</p>
	    		<p>共24篇读后感</p>
    		</div>
    	</div>
    </div>
    <ul class="reader_content">
    	<li>
    		<div class="reader_person_box clearfix">
    			<a class="reader_person_icon fl" href="javascript:;"></a>
    			<div class="reader_person_init fl">
    				<div class="clearfix">
    					<h3 class="reader_personname fl">
	    					张静初
	    					<div class="reader_comments">
	    						老师
	    						<i></i>
	    					</div>
	    				</h3>
    				</div>
    				<p class="reader_persondate">2016-10-24</p>
    			</div>
    		</div>
    		<p class="reader_after_read">
    			读完《鲁滨孙漂流记》这本精彩的小说后，一个高大的形象时时浮现在我的眼前，他就是勇敢的探险家、航海家鲁滨孙。他凭着顽强的毅力，永不放弃的精神，实现了自己航海的实现了自己航海的实现了自...
    		</p>
    		<div class="reader_praise_box clearfix">
    			<a class="fr" href="javascript:;">
    				<i class="reader_praise_icon fl"></i>
    				<span class="fl">0</span>
    			</a>
    			<a class="reader_words_icon fr" href="javascript:;"></a>
    		</div>
    	</li>
    	<li>
    		<div class="reader_person_box clearfix">
    			<a class="reader_person_icon fl" href="javascript:;"></a>
    			<div class="reader_person_init fl">
    				<div class="clearfix">
    					<h3 class="reader_personname fl">
	    					李小乐
	    				</h3>
    				</div>
    				<p class="reader_persondate">2016-10-24</p>
    			</div>
    		</div>
    		<p class="reader_after_read">
    			读完《鲁滨孙漂流记》这本精彩的小说后，一个高大的形象时时浮现在我的眼前，他就是勇敢的探险家、航海家鲁滨孙。他凭着顽强的毅力，永不放弃的精神，实现了自己航海的实现了自己航海的实现了自...
    		</p>
    		<div class="reader_praise_box clearfix">
    			<a class="fr" href="javascript:;">
    				<i class="reader_praise_icon fl"></i>
    				<span class="fl">0</span>
    			</a>
    			<a class="reader_words_icon fr" href="javascript:;"></a>
    		</div>
    		<div class="reader_reply_box">
    			<div class="reader_flower_box clearfix">
    				<div class="reader_replyname fl">李老师</div>
    				<ul class="reader_flower fr">
    					<li></li>
    					<li></li>
    					<li></li>
    					<li></li>
    					<li></li>
    				</ul>
    			</div>
    			<p class="reader_reply_content">表现的不错!继续加油继续加油继续加油继续加油继续加油继续加油继续加油继续加油!</p>
    			<p class="reader_reply_date">2016-10-24</p>
    		</div>
    	</li>
    	<li>
    		<div class="reader_person_box clearfix">
    			<a class="reader_person_icon fl" href="javascript:;"></a>
    			<div class="reader_person_init fl">
    				<div class="clearfix">
    					<h3 class="reader_personname fl">
	    					马小跳
	    				</h3>
    				</div>
    				<p class="reader_persondate">2016-10-24</p>
    			</div>
    		</div>
    		<p class="reader_after_read">
    			读完《鲁滨孙漂流记》这本精彩的小说后，一个高大的形象时时浮现在我的眼前，他就是勇敢的探险家、航海家鲁滨孙。他凭着顽强的毅力，永不放弃的精神，实现了自己航海的实现了自己航海的实现了自...
    		</p>
    		<div class="reader_praise_box clearfix">
    			<a class="reader_active fr" href="javascript:;">
    				<i class="reader_praise_icon fl"></i>
    				<span class="fl">1</span>
    			</a>
    			<a class="reader_words_icon fr" href="javascript:;"></a>
    		</div>
    	</li>
    	<li>
    		<div class="reader_person_box clearfix">
    			<a class="reader_person_icon fl" href="javascript:;"></a>
    			<div class="reader_person_init fl">
    				<div class="clearfix">
    					<h3 class="reader_personname fl">
	    					何小白
	    				</h3>
    				</div>
    				<p class="reader_persondate">2016-10-24&nbsp; &nbsp;清华附小/五年级四班</p>
    			</div>
    		</div>
    		<p class="reader_after_read">
    			读完《鲁滨孙漂流记》这本精彩的小说后，一个高大的形象时时浮现在我的眼前，他就是勇敢的探险家、航海家鲁滨孙。他凭着顽强的毅力，永不放弃的精神，实现了自己航海的实现了自己航海的实现了自...
    		</p>
    		<div class="reader_praise_box clearfix">
    			<a class="fr" href="javascript:;">
    				<i class="reader_praise_icon fl"></i>
    				<span class="fl">0</span>
    			</a>
    		</div>
    	</li>
    </ul>
    <div class="reader_footer_hid"></div>
    <a class="reader_footer" href="javascript:;">
    	<p>
    		<i></i>
    		<span>写读后感</span>
    	</p>
    </a>
</body>
</html>